.hero-image-link {
    background-image: url("./images/hero.webp");
}

.fade-in {
    animation: .3s linear forwards;
}

.fade-in-drop {
    animation: fade-in-drop .5s linear forwards;
    animation-delay: .2s;
}

@keyframes show-mobile-menu {
    to {
        opacity: 1;
    }
}

@keyframes hide-mobile-menu {
    to {
        opacity: 0;
    }
}

@keyframes fade-in-drop {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;  
    }
}